# Базы данных

**План**

=== 1-ый семинар

1. Что такое базы данных и где они используются?
2. SQL-запросы
3. SQLite (DBrowser)

=== 2-ой семинар

4. Работа с базами через питон

**Реляционная база данных** - это набор взаимосвязанных таблиц, в которых хранятся различные данные. **Строка** таблицы (row) содержит данные об одном объекте (например, о студенте), а **столбцы** таблицы (columns) описывают различные характеристики этих объектов — атрибутов (например, имя, курс, специальность, номер группы). Каждый столбец описывает только одну характеристику объекта и имеет *строго определенный тип данных*. Все стоки (записи) имеют одни и те же поля, только в них отображаются различная информация в зависимости от объекта. Вот так:

|Имя (строка)| Специальность (строка)| Курс (число)|
| ------------- |-------------:| -----:|
|Влад| математика| 1|
|Коля| физика| 4|
|Дима| история| 3|
|Лера| лингвистика| 1|

В реляционной базе данных каждая таблица должна иметь **первичный ключ** (primary key) — поле или комбинацию полей, которые единственным образом идентифицируют каждую строку таблицы. Если ключ состоит из нескольких полей, он называется составным. Ключ должен быть уникальным и однозначно определять запись. По значению ключа можно отыскать единственную запись. Ключи служат также для упорядочивания информации в БД. По умолчанию это по умолчанию создающееся поле Id с порядковой нумерацией.

Таблицы реляционной БД должны отвечать требованиям нормализации отношений. Нормализация отношений — это формальный аппарат ограничений на формирование таблиц, который позволяет устранить дублирование, обеспечивает непротиворечивость хранимых в базе данных, уменьшает трудозатраты на ведение базы данных.

*Реляционные таблицы могут быть связаны друг с другом*, следовательно, данные могут извлекаться одновременно из нескольких таблиц. Таблицы связываются между собой для того, чтобы в конечном счете уменьшить объем БД. Связь каждой пары таблиц обеспечивается при наличии в них одинаковых столбцов.

Существуют следующие типы информационных связей:
* один-к-одному (one-to-one)
* один-ко-многим (one-to-many)
* многие-ко-многим (many-to-many)

Связь **один-к-одному** предполагает, что одному атрибуту первой таблицы соответствует только один атрибут второй таблицы и наоборот. Связь **один-ко-многим** - это когда одному атрибуту первой таблицы соответствует несколько атрибутов второй таблицы. Связь **многие-ко-многим** - это когда одному атрибуту первой таблицы соответствует несколько атрибутов второй таблицы и наоборот. 

Для работы с БД используются специальные программы - они называются **Системами управления базами данных**, или **СУБД** (англ. *Database Management System, DBMS*). Существует множество СУБД, вот некоторые из них:

* SQLite
* MySQL
* PostgreSQL
* MongoDB
* ...

## SQL

В названии нескольких СУБД встретилось сочетание SQL. Что это такое?

**SQL** *(Structured Query Language)* - это особый язык для управления данными в БД. С помощью него можно добавлять, удалять, изменять и выбирать данные в таблицах. **Любое** обращение к базе данных называется **запросом**.

SQL - очень простой язык. Нам потребуется лишь несколько команд для операций с данными (CREATE, DELETE, DROP, SELECT, INSERT, UPDATE) и команд-ограничителей для создания более точных запросов (WHERE, IN, AND, OR, NOT, BETWEEN, LIKE, LIMIT, OFFSET). Стоит обратить внимание, что порядок слов в запросе фиксирован: сначала идет "что", затем "где" и, наконец, "с каким условием".

Для тренировки мы будем использовать интерактивный тьюториал SQLBolt.

SELECT упражнения

* https://sqlbolt.com/lesson/select_queries_introduction - основы (уроки 1-5, 8)
* https://sqlbolt.com/lesson/select_queries_with_joins - выбор данных из нескольких таблиц (уроки 6-7)
* https://sqlbolt.com/lesson/select_queries_with_expressions - работа с математическими выражениями


DML упражнения

* https://sqlbolt.com/lesson/inserting_rows
* https://sqlbolt.com/lesson/updating_rows
* https://sqlbolt.com/lesson/deleting_rows

Создание и удаление таблиц (там же описаны типы данных)

* https://sqlbolt.com/lesson/creating_tables (уроки 16-18)

# Практика #1

### Сначала пару вопросов на SQL запросы:

**Вопрос 1.** Упростите выражение:

```
SELECT x FROM table
WHERE x < 1 OR x > 0;
```

**ОТВЕТ УДАЛИТЬ ОТСЮДА** 

```
SELECT x FROM table
WHERE x IS NOT NULL;
```

> NULL не равен NULL !!!

**Вопрос 2.** Допустим мы проводим полевую работу с информантами и делаем такую базу данных по реузльтатам (см. картинку). Какими отношениями связаны три таблицы на картинке?

* Может ли такое быть, что информант в бд есть, а анкету он не прошел?

* Должна ли каждая анкета обязательно соответствовать какому-то информанту?

* Может ли один и тот же информант несколько раз пройти анкету?

![](db_example.jpg)

**Вопрос 3.**

* Напишите запрос к бд на картинке, который достанет номера анкет информантов, которые старше 40 лет.

**ОТВЕТ УДАЛИТЬ ОТСЮДА** 

```
SELECT surveyId
FROM MainTable, Informant
WHERE Informant.age > 40 AND MainTable.informantId = Informant.informantId
% (тут, конечно, лучше по-разному называть ключи)
```


### Теперь перейдём к DBrowser

### Как мы уже говорили, есть разные СУБД и программы для работы с базами данных

База данных -- это не текстовый формат, так что просто открыть его в блокноте и посмотреть, что внутри, не получится. Для этого существуют специальные программы.

* [MySQL](https://www.mysql.com/)
* [PostgreSQL](https://www.postgresql.org/)
* [MongoDB](https://www.mongodb.com/)
* [Firebird](https://firebirdsql.org/)

[Вот тут](https://blog.capterra.com/free-database-software/) есть неплохое описание плюсов и минусов всего вышеперечисленного.

**Мы будем пробовать использовать DBrowser**

Его можно(нужно) скачать и установить отсюда: https://sqlitebrowser.org/dl/

* Создайте новую базу в DBrowser
* Создайте таблицу со студентами (Там должно быть их id; foreign key, отсылающий к другой таблице с оценками по разным предметам; имя студента; возраст; поле научных интересов). Сделайте так, чтобы id студента и foreign key, отсылающий к таблице с оценками каждого студента по разным предметам, были обязательными для заполнения полями. А имя, возраст и сфера научных интересов -- необязательными.

Например, так:

![](db_experiment.png)

Обратите внимание на то, как автоматически пишется за вас SQL запрос (Этим, кстати, можно пользоваться как шпаргалкой к написанию запросов)

* Создайте таблицу с оценками по программированию и морфологии, в которой будет фигурировать primary key отсылающий к foreign key из таблицы со студентами.

![](https://external-preview.redd.it/ZOuZP6WW1lZAPrnSO8o3xXPxHXG0q42_c9lRDZbEc6M.png?auto=webp&s=3384f4292de06a2ee3cb5e82f80ae3987b31d264)

# ============== Тут кончается первый семинар по БД ==============

***

***

***

***

***

***

***

# ======================= И снова привет ========================

## Базы данных и Python

Питон позволяет работать с различными СУБД, но проще всего использовать встроенную библиотеку [SQLite](https://docs.python.org/3.5/library/sqlite3.html). Важно также запомнить, что файлы баз данных имеют расширение `.db`.

In [13]:
import sqlite3

# подключаемся к базе данных
conn = sqlite3.connect('example1.db')

# создаем объект "курсор", которому будем передавать запросы
c = conn.cursor()

# создаем таблицу
c.execute("CREATE TABLE IF NOT EXISTS students(name text, major text, year integer)")

# вставляем строку
c.execute("INSERT INTO students VALUES ('Петя','филология',1), ('Настя','лингвистика',4)")

# сохраняем изменения
conn.commit()

# отключаемся от БД
#conn.close()

**Важная вещь №1**: после подключения к БД нужно обязательно инициализировать курсор, иначе вы не сможете делать к ней запросы!

**Важная вещь №2**: если вы что-то изменили, нужно обязательно закоммитить изменения, иначе они не сохранятся в файле БД!

И немного о безопасности: при создании запроса нельзя использовать конкатенацию строк и форматирование строк, как в питоне. Это сделает ваше приложение уязвимым для SQL-инъекций - особых хакерских атак, которые заключаются в подставлении в запрос нежелательных комманд - например, DROP TABLE. Поподробнее об этом можно почитать [вот здесь](https://habrahabr.ru/post/148151/).

![](https://imgs.xkcd.com/comics/exploits_of_a_mom.png)

In [15]:
# Так нельзя!
name = 'Петя'
c.execute("SELECT * FROM students WHERE name = '%s'" % name)

# Вот как надо
x = ('Петя',)
c.execute('SELECT * FROM students WHERE name=?', x)
print(c.fetchone())

('Петя', 'филология', 1)

In [16]:
# Если результатом запроса является несколько строк, можно по ним итерировать

for row in c.execute('SELECT * FROM students ORDER BY year'):
    print(row)

('Петя', 'филология', 1)
('Настя', 'лингвистика', 4)

In [17]:
# как подставить несколько переменных в sql-запрос

x = 'Аня'
y = 'математика'
z = 3

c.execute('INSERT INTO students VALUES (?, ?, ?)', (x, y, z))
conn.commit()

#### Форматирование строк

Если нужно подставить переменные в качестве названия таблицы или колонок, то придется использовать форматирование строк.

In [19]:
params = ['vowel', 'f1', 'f2']
c.execute('CREATE TABLE vowels({}, {}, {})'.format(params[0], params[1], params[2]))

OperationalError: table vowels already exists

In [20]:
# как написать длинный запрос посимпатичнее
c.execute('''
INSERT INTO vowels 
VALUES 
('a', 1234.56, 4567.8), 
('u', 1111.1, 3333.3)'''
)

In [21]:
for row in c.execute('SELECT * FROM vowels'):
    print(row)

('a', 1234.56, 4567.8)
('u', 1111.1, 3333.3)

#### Функции курсора

* **fetchone()** -- возвращает следующий элемент из результата запроса (т.е. одну строку из бд). Результат -- кортеж, где элементом является значение каждой из колонок или None
* **fetchall()** -- возвращает все результаты запроса в виде списка
* **fetchmany()** -- взвращает заданное количество строк из результатов запроса

In [23]:
# извлекаем строки по одной
# обратите внимание, что после каждого вызова fetchone возвращает следующую строку!
c.execute('SELECT * FROM students ORDER BY year')
print(c.fetchone())
print(c.fetchone())
print(c.fetchone())

('Петя', 'филология', 1)
('Аня', 'математика', 3)
('Настя', 'лингвистика', 4)

In [24]:
# извлекаем две строки
c.execute('SELECT * FROM students ORDER BY year')
print(c.fetchmany(2))

[('Петя', 'филология', 1), ('Аня', 'математика', 3)]

In [25]:
# извлекаем все строки
c.execute('SELECT * FROM students ORDER BY year')
print(c.fetchall())

[('Петя', 'филология', 1), ('Аня', 'математика', 3), ('Настя', 'лингвистика', 4)]

# Тут мы создаем бд через питон, но сюда надо подбросить данных. Причем лингвистических